<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intsmaze.flink.mybatis.mapper.FlowMapper">

    <select id="findAll" resultType="com.intsmaze.flink.base.bean.FlowData">
      SELECT * FROM flow
   </select>

    <select id="findUUID" resultType="java.lang.String">
     select uuid from flow where subTestItem =#{subTestItem} and billNumber=#{billNumber} and barcode=#{barcode}
   </select>

    <insert id="insertFlow" parameterType="com.intsmaze.flink.base.bean.FlowData">
        insert into flow(uuid, subTestItem,billNumber,barcode,flowName,flowStatus)
        values (#{uuid},#{subTestItem},#{billNumber},#{barcode},#{flowName},#{flowStatus})
    </insert>

</mapper>