<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!---此为会员版功能：添加微信 intsmaze，付款36.9元即可获得全套会员版的配置文件。-->
    <bean id="Configuration" class="org.apache.hadoop.hbase.HBaseConfiguration" factory-method="create">
    </bean>

</beans>